.Tax-view-page {
  width: 78vw;
  padding: 30px;
  border-radius: 20px;
  background-color: #d3e9fe;
  /* min-width: min-content; */
  box-shadow: 1px 5px 3px -3px rgba(0, 0, 0, 0.44);
}

.Tax-view-header {
  margin: 0 auto;
  width: fit-content;
  background-color: #0085ff;
  color: white;
  padding: 5px 40px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.Tax-view-header h6 {
  text-align: left;
}

.Total-liability,
.Cal-nine-months,
.Cal-three-months {
  margin: 0 auto;
  width: max-content;
  min-width: max-content;
  background-color: #ffffff;
  color: #0085ff;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: #acacac 2px 4px;
  margin-top: 20px;
}

.Topic-1,
.Topic-2,
.Topic-3 {
  text-align: center;
  color: #0085ff;
}

.Tot-amount {
  background-color: #0085ff;
  color: #ffffff;
  margin: 0 auto;
  width: fit-content;
  padding: 5px 40px 5px 20px;
  border-radius: 10px;
}

.Tot-amount h1 {
  text-align: center;
  color: #ffffff;
  padding-bottom: 0;
  margin-bottom: 0;
}

.Tot-amount p {
  color: #ffffff;
  font-size: small;
  padding: 0;
  margin: 0;
  text-align: right;
}

.small-p-one {
  margin-left: 10%;
  font-size: small;
  color: #0085ff;
}

.small-p-two {
  margin-left: 10%;
  font-size: small;
  color: #0085ff;
}

.nine-months,
.three-months {
  margin-left: 10%;
  margin-right: 20%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Cal-nine-months div,
.Cal-three-months div {
  margin-left: 2%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.nine-liability h4,
.three-liability h4 {
  font-weight: 1000;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.Cal-nine-months,
.Cal-three-months {
  width: fit-content;
  flex-grow: 1;
}

.custom-btn {
  padding: 10px 20px;
  font-size: larger;
  background-color: #0085ff;
  border-color: #0085ff;
}
