.Upload-Doc-div{
    margin-left: 0%;
    margin: 0%;
    padding: 30px;
    border-radius: 20px;
    background-color: #D3E9FE;
    width: "78vw";
    box-shadow: 1px 5px 3px -3px rgba(0,0,0,0.44)
}

.main-topic{
    text-align: center;
    text-decoration: solid;
    font-weight: 700;
    color:#0085FF;
}

.sub-topic{
    margin-top: 20px;
    text-align: left;
    padding-left: 3%;
    color:#0085FF;
    text-decoration: solid;
    font-size: larger;
    font-weight: 700;
}





.Container1, .Container2, .Container3, .Container4{
    margin-left: 8%;
    margin-right: 5%;
}

.div1-1, .div1-2, .div1-3, .div1-4, .div2-1, .div2-2, .div2-3, .div3-1, .div3-2, .div3-3, .div3-4, .div4-1, .div4-2, .div4-3{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}



input::-webkit-file-upload-button{
    visibility: hidden;
}

.input::before{
    content: "Upload PDF";
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
}


.fa-caret-down{
    color: #0085ff;
    margin-left: 20px;
}


.Button-div{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}