@media screen and (max-width: 700px) {
    .setting-option {
      font-size: 12px !important;
    }
  }


.bt {
  margin-left: 3vw !important;
  width: 15vw;
}

.group {
  justify-content: center;
  display: flex;
  background-color: #d3e9ff;
  width: 78vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 20px;
  box-shadow: 1px 5px 3px -3px rgba(0, 0, 0, 0.44);
}
