@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#root{
	font-family: 'Poppins', sans-serif;
}
// .custom_input {
// 	display: flex;
// 	align-items: center;
// 	position: relative;
// 	max-width: 100%;
// }

.input {
	font-size: 10px;
	padding: 5px 10px;
	width: 95%;
	outline: none;
	background: #DBE8FE;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 0px 3px 3px 1px #9D9D9D;
	transition: .3s ease;
}

.details-input{
    font-size: 10px;
	padding: 5px 10px;
	width: 30%;
	outline: none;
	background: #DBE8FE;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 0px 3px 3px 1px #9D9D9D;
	transition: .3s ease;
}

.input:focus {
	background: #F2F2F2;
	border: 1px solid #5A7EC7;
	border-radius: 10px;
}


.lables{
    
    color: #049370;
    font-weight: 700;
}

.form-group{
    margin-bottom: 10px;
}

button{
    
    background-color:#0085FF !important;
    border-radius: 10px !important;
    
}










