@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#root{
	font-family: 'Poppins', sans-serif;
}

.user{
    background-color:#0085FF !important;

}

.user:hover {
    background-color: #4e15b1 !important;
}







